<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
    <link rel="stylesheet" href="../public/css/bulma.css">
    <link rel="stylesheet" href="../public/css/app.css">
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section id="main" class="hero is-fullheight is-dark">
      <!-- Hero header: will stick at the top -->
      <div class="hero-head">
        <header class="nav">
          <div class="container">
            <div class="nav-left">
              <a class="nav-item">
                <img src="../public/images/bulma-icon.png" alt="Logo">
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <a class="nav-item is-active">
                Home
              </a>
              <a class="nav-item">
                Examples
              </a>
              <a class="nav-item">
                Documentation
              </a>
              <span class="nav-item">
                <a class="button is-primary is-inverted">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
            </div>
          </div>
        </header>
      </div>

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="columns is-vcentered">
            <div class="column is-5">
              <!-- Img here -->
              <figure class="image is-4by3">
                <img class="promo-img" src="http://az616578.vo.msecnd.net/files/2017/02/26/636237341865706889-619832852_movies.jpg">
              </figure>
            </div>
            <div class="column is-6 is-offset-1">
              <h1 class="title is-2">
                Las pelis de ParquePa
              </h1>
              <h2 class="subtitle is-4">
                Donde la posta de las pelis se hace ver
              </h2>
            </div>
          </div>
        </div>
      </div>

      <!-- Hero footer: will stick at the bottom -->
      <div class="hero-foot">
        <div class="container">
          <div class="tabs is-centered">
            <ul>
              <li><a href="http://bulma.io">Un link copado</a></li>
              <li><a href="http://bulma.io">El del medio</a></li>
              <li><a href="http://bulma.io">Y otro link mas feo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
</body>
</html>
